<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.jotmob" version="1.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>JotMob</name>
	<description>
		Joti Mobile
	</description>
	<author href="https://www.4web.net.br" email="douglas@4web.net.br">
		Douglas
	</author>
	<preference name="orientation" value="portrait" />
	<preference name="permissions" value="none" />
	<preference name="android-minSdkVersion" value="16" />
	<platform name="android" />
	<icon src="logo.png" />
	<splash src="logo.png" />
    <content src="index.html" />
    <access origin="*" />
</widget>